*, *::before, *::after{
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #a44215;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background-image: url(images/page_background.jpg);
}

.clock {
  width: 300px;
  height: 300px;
  background-color: #b9cde8;
  border-radius: 50%;
  border: 15px solid #e5aa5e;
  position: relative;
  background-image: url("images/background.jpg");
  background-size: 420px 250px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.clock .number{
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.3rem;
  border: 3px solid white;
}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  background-color: white;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  transform-origin: bottom;
  transform: translate(-50%) rotate(calc(var(--rotation)* 1deg));
  z-index: 10;
}
.clock::after{
  content: '';
  position: absolute;
  background-color: #a03921;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}

.clock .hand.second {
  width: 4px;
  height: 40%;
  background-color: red;
}
.clock .hand.minute {
  width: 7px;
  height: 35%;
  background-color: #37408b;
}
.clock .hand.hour {
  width: 10px;
  height: 27%;
  background-color: #37408b;
}